@import "minima";

.center {
    text-align: center;
}
.right {
    text-align: right;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}

.post-header .post-meta {
    text-align: center;
    display: block;
}


h1 {
    text-align: left;
}

h2 {
    margin-top: 1em;
    clear: both;
    width: 100%;
}

br.clear {
    clear: left;
}

ul.n-column-list {
    margin-top: 2em;
}

.n-column-list li {
    list-style: none;
    float: left;
    width: 12em;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 2em;
}

/* Theme toggle icons */
.theme-icon-dark {
    display: none;
}
.theme-icon-light {
    display: inline;
}

[data-theme="light"] {
    .theme-icon-dark {
        display: inline;
    }
    .theme-icon-light {
        display: none;
    }
}

.home .content {
    margin-top: 2em;
    
    > .logo {
        width: 20%;
        min-width: 8em;
        float: right;
        display: inline-block;
        margin-left: 1.3em;
        margin-bottom: 1.3em;
        margin-right: 1.3em;
    }
}

hr {
    border: none;
    border-top: 1px solid var(--border-color);
}

/* Newsletter Signup (Buttondown) */
.newsletter-signup {
    margin: 1.5em 0;
    
    label {
        display: block;
        font-size: 0.95em;
        font-weight: 600;
        margin-bottom: 0.4em;
        color: var(--text-color);
    }
    
    .newsletter-form-row {
        display: flex;
        gap: 0.4em;
        max-width: 400px;
        
        @media (max-width: 480px) {
            flex-direction: column;
        }
    }
    
    input[type="email"] {
        flex: 1;
        padding: 0.4em 0.7em;
        font-size: 0.95em;
        border: 1px solid var(--border-color);
        border-radius: 4px;
        background: var(--background-color);
        color: var(--text-color);
        min-width: 0;
        
        &::placeholder {
            color: var(--text-muted, #888);
        }
        
        &:focus {
            outline: none;
            border-color: var(--brand-color);
        }
    }
    
    button[type="submit"] {
        padding: 0.4em 1em;
        font-size: 0.95em;
        font-weight: 600;
        background: var(--brand-color);
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.2s ease;
        white-space: nowrap;
        
        &:hover {
            background: var(--brand-color-dim);
        }
    }
}

/* MailChimp Form Styles (legacy) */
#mc_embed_signup {
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    
    form {
        display: block;
        position: relative;
        text-align: left;
        padding: 10px 0 10px 3%;
    }
    
    h2 {
        font-weight: bold;
        padding: 0;
        margin: 15px 0;
        font-size: 1.4em;
    }
    
    input {
        border: 1px solid var(--border-color);
        background-color: var(--background-secondary);
        color: var(--text-color);
        -webkit-appearance: none;
        
        &[type=checkbox] {
            -webkit-appearance: checkbox;
        }
        
        &[type=radio] {
            -webkit-appearance: radio;
        }
        
        &:focus {
            border-color: var(--brand-color);
            outline: none;
        }
    }
    
    .button {
        clear: both;
        background-color: var(--brand-color-dim);
        border: 0 none;
        border-radius: 4px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-size: 15px;
        height: 32px;
        line-height: 32px;
        margin: 0 5px 10px 0;
        padding: 0;
        text-align: center;
        text-decoration: none;
        vertical-align: top;
        white-space: nowrap;
        width: auto;
        transition: all 0.23s ease-in-out 0s;
        
        &:hover {
            background-color: var(--brand-color);
        }
    }
    
    .small-meta {
        font-size: 11px;
    }
    
    .nowrap {
        white-space: nowrap;
    }
    
    .clear {
        clear: none;
        display: inline;
    }
    
    label {
        display: block;
        font-size: 16px;
        padding-bottom: 10px;
        font-weight: bold;
        
        &.error {
            display: block;
            float: none;
            width: auto;
            margin-left: 1.05em;
            text-align: left;
            padding: 0.5em 0;
        }
    }
    
    input.email {
        font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
        font-size: 15px;
        display: block;
        padding: 0 0.4em;
        margin: 0 4% 10px 0;
        min-height: 32px;
        width: 58%;
        min-width: 130px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    
    input.button {
        display: block;
        width: 35%;
        margin: 0 0 10px 0;
        min-width: 90px;
    }
    
    div#mce-responses {
        float: left;
        top: -1.4em;
        padding: 0em 0.5em 0em 0.5em;
        overflow: hidden;
        width: 90%;
        margin: 0 5%;
        clear: both;
    }
    
    div.response {
        margin: 1em 0;
        padding: 1em 0.5em 0.5em 0;
        font-weight: bold;
        float: left;
        top: -1.5em;
        z-index: 1;
        width: 80%;
    }
    
    #mce-error-response {
        display: none;
    }
    
    #mce-success-response {
        color: #529214;
        display: none;
    }
}

.wrapper{
    overflow-wrap: break-word;
}

.site-nav .page-link:not(:last-child) {
  margin-right: 10px;
}

/* Logo sizing */
.logo-svg {
  width: 100%;
  height: 100%;
}

.site-title .logo-svg {
  height: 44px;
  width: 44px;
}
