<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
    <meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <link rel="alternate" type="application/rss+xml" href={{("/newsletters/feed.xml" | relLangURL)}} title="Newsletter RSS feed">
    <link rel="alternate" type="application/rss+xml" href="https://podcast.nostrcompass.org/rss.xml" title="Podcast RSS feed">
    <script>
      // Prevent flash of wrong theme
      (function() {
        var theme = localStorage.getItem('theme');
        if (theme === 'light') {
          document.documentElement.setAttribute('data-theme', 'light');
        }
      })();
    </script>
    {{ $style := resources.Get "sass/main.scss" | css.Sass | resources.Minify }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="icon" type="image/png" href="/favicon.ico">
    {{ block "head" . }}{{ end }}
</head>
<body>
    {{ partial "header.html" . }}

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {{ block "main" . }}{{ end }}
        </div>
    </main>

    {{ partial "footer.html" . }}
    {{ if .Site.Params.mailchimp_form_action }}
    <!-- Mailchimp AJAX form handler - requires jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    {{ end }}
</body>
</html>
