<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p>{{ .Site.Params.description }}</p>
      </div>
    </div>

    <div class="social-links">
      {{ if .Site.Params.github_username }}
      <a href="https://github.com/{{ .Site.Params.github_username }}">
        <svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg>
      </a>
      {{ end }}
      <a href="/index.xml">
        <svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#rss"></use></svg>
      </a>
    </div>
  </div>
</footer>



